/* Task Board Container */

.task-board-container{
  display: flex;
  flex-direction: row;
  max-height: 92vh;
  min-height: 92vh;

}

.task-board {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background: #f4f4f4;
    width: 100%;
    overflow-x: auto;
  }

  .sidebar{
    background: #ffffff;
    padding: 15px;
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Responsive Design for Small Screens */
  @media (max-width: 900px) {
    .task-board {
      flex-direction: column;
      align-items: center;
    }
  }
  